<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PROTEJA-SE</title>
    <link rel="shortcut icon" href="https://convertico.com/images/1543968732.8983/_previmg.png" type="image/x-icon"  sizes="192x192" />

    <!-- Bootstrap core CSS -->
    <link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/shop-item.css" rel="stylesheet">

  </head>
  
  <body >


    <!-- Navigation -->
     <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
      <div class="container">

        <a class="navbar-brand" href="#">
          <img src="http://i64.tinypic.com/in71uc.jpg" width="190" height="80" alt="">
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar navbar-default" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home/index">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item dropdown MenuController">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ataques</a>
              <div class=" megamenu dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="row">
              <div class="col-lg-4">
                  <a class="dropdown-item" href="/crimes/malware">Malware</a>
                  <a class="dropdown-item" href="/crimes/spyware">Spyware</a>
                  <a class="dropdown-item" href="/crimes/adware">Adware</a>
                  <a class="dropdown-item" href="/crimes/phishing">Phishing</a>
                  <a class="dropdown-item" href="/crimes/trojan">Trojan</a>
                  <a class="dropdown-item" href="/crimes/xss">XSS</a>
                  <a class="dropdown-item" href="/crimes/spam">Spam</a>
                  <a class="dropdown-item" href="/crimes/worm">Worm</a>
                  <a class="dropdown-item" href="/crimes/rootkit">Rootkit</a>
              </div>

              <div class="row">
              <div class="col-lg-4">
                  <a class="dropdown-item" href="/crimes/keylogger">Keylogger</a>
                  <a class="dropdown-item" href="/crimes/scam">Scam</a>
                  <a class="dropdown-item" href="/crimes/sniffer">Sniffer</a>
                  <a class="dropdown-item" href="/crimes/DDoS">DDoS</a>
                  <a class="dropdown-item" href="/crimes/botnet">Botnet</a>
                  <a class="dropdown-item" href="/crimes/backdoor">Backdoor</a>
                  <a class="dropdown-item" href="/crimes/ransomware">Ransomware</a>
                  <a class="dropdown-item" href="/crimes/sequestrador">Sequestrador de Navegadores</a>
              </div>
                  
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Crimes</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/crimes/virtuais">Crime Virtual</a>
                  <a class="dropdown-item" href="/crimes/bullying">Bullying Virtual</a>
                  <a class="dropdown-item" href="/crimes/engenharia">Engenharia Social</a>
                  <a class="dropdown-item" href="/crimes/roubo">Roubo de Identidade</a>
                  <a class="dropdown-item" href="/crimes/paginas">Páginas falsas</a>
                  <a class="dropdown-item" href="/crimes/pedofilia">Pedofilia na Internet</a>                  
                  <a class="dropdown-item" href="/crimes/assedio">Assédio Virtual</a>
                  <a class="dropdown-item" href="/crimes/fake">Fake News</a>
                  <a class="dropdown-item" href="/crimes/fotos">Vazamento de informações íntimas</a>

                  </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

   
        <!-- /.col-lg-3 -->

        <div class="col-lg-9 col-xs-6 col-md-4 col-sm-4 col-xs-9">
         <div class="container" >

          <div class="card mt-4 tamanho">
            <img class="card-img imagem" src="https://2.bp.blogspot.com/-XdIdj-2WMs0/Wnxf2_XwFCI/AAAAAAAAsYE/ENW2wCn-r4UO5JagvBRdN9szu1i1U5XrACLcBGAs/s1600/xThe-Fake-News.png.pagespeed.ic.39cDapmp09.png" alt="">
            <div class="card-body">
              <h3 class="card-title"> Fake News  </h3>
              <p class="botao">
                <input type="button" value="A+" onClick="fonte('a');"/>
                <input type="button" value="A-" onClick="fonte('d');"" />
              </p>
              <br/>
              
              <p class="card-text acessibilidade"> Fake News significa “notícias falsas”, em português, é utilizado para classificar notícias que não tem autoria declarada, fonte, data ou veracidade, e que se replica rapidamente na internet de maneira irresponsável, com a intensão de destruir a reputação de uma pessoa, empresa e organizações, de prejudicar alguém e até contribuir para uma tragédia. </p>

              <p class="card-text acessibilidade"> Inclusive, o grande problema é que tais notícias falsas têm se utilizado do compartilhamento irresponsável de muitos internautas, que estão disseminando notícias mentirosas, sem verificar previamente sua veracidade. Há casos que o compartilhamento é realizado após o indivíduo ler apenas a manchete, desconhecendo por completo o conteúdo compartilhado. Este fenômeno ocorre, pois as fake news apresentam duas características essenciais: o viés de confirmação e o recebimento de pessoas conhecidas. </p>

              <p class="card-text acessibilidade"> O viés de confirmação se da quando a notícia falsa confirma uma opinião pré-existente e o indivíduo se sente tão satisfeito em estar certo, que compartilha sem verificar a procedência da notícia. Já em relação ao recebimento de notícias de conhecidos, que chegam por familiares, amigos e etc, os filtros naturais de desconfiança acabam diminuindo, estimulando o compartilhamento sem prévia verificação. </p>

              <p class="card-text acessibilidade"> Há quem, mesmo suspeitando da notícia, prefira repassá-la pois “vai que é verdade” e “não custa nada compartilhar”. Na verdade <b>“custa sim”</b> - quando você repassa uma fake news está lhe dando valor e importância, influenciando outros a acreditarem, contribuindo para que ele circule e potencializando as consequências.</p>

              <p class="card-text acessibilidade"> Quando um indivíduo, também influenciado por tais características, compartilha uma fake news, pode sim estar cometendo crime. Se a notícia falsa for difamatória, por exemplo, e divulgada na íntegra pelo sujeito que compartilha, poderá suportar as sanções penais. Aliás, o mero compartilhamento de uma fake news, pode resultar a quem compartilhou a obrigação de um pagamento de indenização à vítima da mentira. </p>
              
            
              <p class="card-text acessibilidade"> Dependendo do caso, o ato de produzir ou compartilhar notícias falsas, podem ser caracterizados como calúnia, injúria, difamação ou divulgação de notícias falsas ocorrer em época de eleição visando desqualificar um candidato, partido ou coligação, aplica-se a lei 12.891, de 2013. </p>

              <b class="card-text acessibilidade">Alguns exemplos de problemas trazidos pelos boatos são: </b>

              <ul>
              <li class="card-text acessibilidade"> Boatos espalham desinformação, reforçam crenças erradas, distraem de assuntos importantes e podem influenciar negativamente as opiniões. </li>

              <li class="card-text acessibilidade"> O excesso de boatos leva ao descrédito, tornando frases como “li” e “vi na Internet” sinônimos de suspeitos, e pode servir para desmerecer notícias sérias. </li>

              <li class="card-text acessibilidade"> As empresas e pessoas citadas podem ter a reputação manchada, pois seus nomes ficam vinculados a conteúdos caluniosos e difamatórios, que dificilmente serão excluídos. </li>

              </ul>

              <p class="card-text acessibilidade"> Portanto, a situação das fake news modificou a responsabilidade de todos na internet, obrigando-os a conferir a informação antes de publicá-la ou compartilhá-la. Sendo que, o único jeito que é possível se eximir de qualquer responsabilidade é não compartilhando, ou seja, se não for verificada ou não for possível verificar a veracidade da notícia se deve nunca compartilhá-la. </p>

  
            </div>
          </div>
          </div>
          <!-- /.card -->

          <div class="card card-img my-4">
            <div class="card-header card-text acessibilidade">
              Como evitar cair na Fake News?
            </div>
            <div class="card-body">
              
              <b class="card-text acessibilidade"> Cheque a fonte da fonte </b>
              <p class="card-text acessibilidade"> Muitos sites de notícias republicam notas que saíram em outros sites, principalmente quando o idioma é diferente. Dois cenários são possíveis aqui: um erro de tradução que pode originar o sentido da notícia ou a própria nota original ser uma fake news por si só. Por isso, para identificar fake news dessa maneira, basta clicar no site da fonte e, se puder ler no idioma original, conferir a publicação para saber se houveram erros na tradução ou se o próprio site que gerou a notícia é confiável. </p>
             
              <hr>
              <b class="card-text acessibilidade"> Aprenda sobre o site que está visualizando </b>
              <p class="card-text acessibilidade">  Infelizmente, muitos sites, canais do Youtube e perfis nas redes sociais têm como objetivo a propagação destas notícias falsas. Por isso, é sempre bom ser cético em relação a tudo que lê na internet. Se nunca ouviu falar do site que está lendo uma publicação, procure a página Sobre, se possui informações de contato e quem são os responsáveis pelo jornal online ou canal e sua reputação. </p>

              <hr>
              <b class="card-text acessibilidade"> Leia a matéria completa, não apenas sua chamada </b>
              <p class="card-text acessibilidade"> Antes de clicar no botão de compartilhar, leia a matéria completa. Em agosto de 2016, uma das pesquisas mais atuais sobre leitura de chamadas vs número de leituras de uma matéria completa , a revista Forbes apontou que apenas 59% dos links compartilhados em redes sociais são lidos na íntegra. Ou seja, mais de metade das notícias compartilhadas possuem alto potencial de serem falsas ou gerarem um sentimento equivocado em relação à matéria completa. </p>

             <hr>
             <b class="card-text acessibilidade"> Preste atenção à URL </b>
             <p class="card-text acessibilidade"> Apesar de não ser 100% confiável, olhar a URL da notícia pode identificar sua confiabilidade. Alguns sites mal-intencionados possuem nomes semelhantes a grandes sites como G1, Exame e Época. Por isso, ao clicar na notícia, confira a URL principal do site e certifique-se de que é a mesma do site oficial. </p>

             <hr>
             <b class="card-text acessibilidade"> Cheque por erros de formatação ou ortografia </b>
             <p class="card-text acessibilidade"> Como muitos sites de notícias falsas não são comandados por pessoas profissionais, fique de olho ao design do site e até mesmo a ortografia na matéria. Erros pequenos são comuns mesmo nas publicações mais relevantes, mas quando erros grotescos são o padrão de um site ou seu layout não inspira confiança, é bastante possível que esteja lidando com fake news. </p>


             <hr>
             <b class="card-text acessibilidade"> Pesquise a notícia no Google </b>
             <p class="card-text acessibilidade"> Ficou chocado com a notícia da morte de uma celebridade, mas só viu apenas uma página falando sobre isso? Ou eles deram um grande furo de notícia ou estão apenas a compartilhar boatos. </p>

             <p class="card-text acessibilidade"> Para tirar suas dúvidas, procure a chamada no Google e verifique quantos – e quais são – os sites que publicaram uma nota semelhante. Notícias importantes se alastram rapidamente, portanto, se apenas um site está falando sobre isso, é muito provável que seja fake news. </p>

             <hr>
             <b class="card-text acessibilidade"> Confira a data de publicação dos posts </b>
             <p class="card-text acessibilidade"> Apesar de importante, muitas pessoas se deixam levar e compartilham uma notícia velha como atual. Ou seja, a notícia já aconteceu a tanto tempo que, caso publicada atualmente, se torna uma notícia falsa. Por conta disso, sempre verifique a data de publicação antes de clicar no botão de compartilhar e suspeite caso essa data não esteja clara no site de origem. </p>

             <hr>
             <b class="card-text acessibilidade"> Utilize o Google Notícias </b>
             <p class="card-text acessibilidade"> O próprio Google oferece uma ferramenta para identificar fake news em seu motor de busca. Ao detectar uma notícia que parece suspeita ou extrema, acesse o Google e digite a chamada na barra de busca. Após os resultados aparecem, clique em Notícias – conforme captura de tela abaixo – e confira quais outras publicações também reproduziram a novidade, utilizando também algumas das técnicas que ensinamos nos itens anteriores. </p>

            </div>
          </div>
          <!-- /separação do video -->
           <div class="card card-outline-secondary my-4">
              <div class="card-header card-text acessibilidade">
              Video
            </div>

             <div id="carregando" class="center" align="center">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/OAk0hONsDuA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
             </div>
          <!-- /.card -->
          </div>

        </div>
        <!-- /.col-lg-9 -->

        <div class="col-lg-9">

         
         <div class="card-b my-4">
              

             <div id="carregando" class="center" align="center">
             
              <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = 'http://localhost.com<%= request.original_fullpath %>';  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://proteja-se.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


             </div>
             </div>
             </div>

      </div>

    </div>

    <!-- /.container -->


    <!-- Footer -->
    <footer class="py-5 bg-black bordercolor">
      <div class="container">
      <div class="addthis_inline_share_toolbox text-center"></div> 
      <p class="m-0 text-center text-white">Compartilhe</p>
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="assets/jquery/jquery.min.js"></script>
    <script src="assets/javascripts/bootstrap.bundle.min.js"></script>

    <style>
    .dropdown:hover>.dropdown-menu{
      display: block;
    }
    </style>

    <script type="text/javascript">
      function fonte(e){
  var elemento = $(".acessibilidade");
  var fonte = elemento.css('font-size');
  if (e == 'a') {
    elemento.css("fontSize", parseInt(fonte) + 1);
  } else if('d'){
    elemento.css("fontSize", parseInt(fonte) - 1);
      }
    }
    </script>


<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5bf0667e9e40d64c"></script>
  </body>
 

</html>