<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PROTEJA-SE</title>
<link rel="shortcut icon" href="https://convertico.com/images/1543968732.8983/_previmg.png" type="image/x-icon"  sizes="192x192" />
    <!-- Bootstrap core CSS -->
    <link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/shop-item.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
     <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
      <div class="container">

        <a class="navbar-brand" href="#">
          <img src="http://i64.tinypic.com/in71uc.jpg" width="190" height="80" alt="">
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar navbar-default" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home/index">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item dropdown MenuController">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ataques</a>
              <div class=" megamenu dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="row">
              <div class="col-lg-4">
                  <a class="dropdown-item" href="/crimes/malware">Malware</a>
                  <a class="dropdown-item" href="/crimes/spyware">Spyware</a>
                  <a class="dropdown-item" href="/crimes/adware">Adware</a>
                  <a class="dropdown-item" href="/crimes/phishing">Phishing</a>
                  <a class="dropdown-item" href="/crimes/trojan">Trojan</a>
                  <a class="dropdown-item" href="/crimes/xss">XSS</a>
                  <a class="dropdown-item" href="/crimes/spam">Spam</a>
                  <a class="dropdown-item" href="/crimes/worm">Worm</a>
                  <a class="dropdown-item" href="/crimes/rootkit">Rootkit</a>
              </div>

              <div class="row">
              <div class="col-lg-4">
                  <a class="dropdown-item" href="/crimes/keylogger">Keylogger</a>
                  <a class="dropdown-item" href="/crimes/scam">Scam</a>
                  <a class="dropdown-item" href="/crimes/sniffer">Sniffer</a>
                  <a class="dropdown-item" href="/crimes/DDoS">DDoS</a>
                  <a class="dropdown-item" href="/crimes/botnet">Botnet</a>
                  <a class="dropdown-item" href="/crimes/backdoor">Backdoor</a>
                  <a class="dropdown-item" href="/crimes/ransomware">Ransomware</a>
                  <a class="dropdown-item" href="/crimes/sequestrador">Sequestrador de Navegadores</a>
              </div>
                  
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Crimes</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/crimes/virtuais">Crime Virtual</a>
                  <a class="dropdown-item" href="/crimes/bullying">Bullying Virtual</a>
                  <a class="dropdown-item" href="/crimes/engenharia">Engenharia Social</a>
                  <a class="dropdown-item" href="/crimes/roubo">Roubo de Identidade</a>
                  <a class="dropdown-item" href="/crimes/paginas">Páginas falsas</a>
                  <a class="dropdown-item" href="/crimes/pedofilia">Pedofilia na Internet</a>                  
                  <a class="dropdown-item" href="/crimes/assedio">Assédio Virtual</a>
                  <a class="dropdown-item" href="/crimes/fake">Fake News</a>
                  <a class="dropdown-item" href="/crimes/fotos">Vazamento de informações íntimas</a>


                  </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

   
        <!-- /.col-lg-3 -->

        <div class="col-lg-9 col-xs-6 col-md-4 col-sm-4 col-xs-9">
         <div class="container" >

          <div class="card mt-4 tamanho">
            <img class="card-img imagem" src="https://www.hostinger.com.br/tutoriais/wp-content/uploads/sites/12/2018/03/Como-se-proteger-de-tentativas-de-PhishingPhishing_-O-que-%C3%A9-e-como-se-proteger-de-tentativas-de-Phishing.jpg" alt="">
            <div class="card-body">
              <h3 class="card-title">scam</h3>
              <p class="botao">
                <input type="button" value="A+" onClick="fonte('a');"/>
                <input type="button" value="A-" onClick="fonte('d');"" />
              </p>
              <br/>
              
              <p class="card-text acessibilidade"> Existem vários tipos de online scam mas todos eles têm uma coisa em comum: eles estão tentando enganar você a fornecer as suas informações pessoais ou fazê-lo pagar dinheiro por algo que você jamais receberá. Os tipos mais comuns de scams na internet são e-mails como o do famoso nigeriano que quer compartilhar sua fortuna com você, sites de leilão, scams no Craig's List, sites de relacionamento, antivírus falsos, "faça dinheiro rápido" e scams de cartões de crédito pré-aprovados. </p>
              <p class="card-text acessibilidade"> Os chamados scams online podem tomar a forma de um software malicioso como um vírus ou spyware, que é baixado secretamente em seu computador como uma maneira de roubar suas senhas e ter acesso à sua conta bancária, ou poderá ainda usar emails de phishing e engenharia social para extorquir dinheiro de você. </p>
              <p class="card-text acessibilidade"> A melhor maneira de reconhecer um scam é lembrando daquele velho ditado: "Se é algo muito bom para ser verdade, provavelmente não é". Muitos dos scams online lhe oferecerá algo que parecer ser uma boa oferta de dinheiro, tudo que você precisa fazer para isso é realizar um pequeno depósito para cobrir as chamadas taxas de processamento. Já os scams que instalam softwares maliciosos em seu computador, tentarão enganar você a baixar arquivos, como por exemplo um pop-up que diz que seu computador foi infectado por um vírus e, para se livrar dele, você só precisa baixar um (fraudulento) programa de antivírus. </p>
              
            </div>
          </div>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header card-text acessibilidade">
              Como evitar um scam?
            </div>
            <div class="card-body">
              
              
             <p class="card-text acessibilidade">Use o senso comum. </p>
             
             <hr>
             <p class="card-text acessibilidade"> Não confie em alguém que lhe oferece muito dinheiro do nada. </p>
            
             <hr>
             <p class="card-text acessibilidade">Não faça pagamentos através de "money-order", use um cartão de crédito </p>

             <hr>
             <p class="card-text acessibilidade"> Não deposite dinheiro para outras pessoas para receber algo de graça. </p>

             <hr>
             <b class="card-text acessibilidade"> Remoção do scam </b>
             <p class="card-text acessibilidade"> Devido ao fato de que o scam é uma técnica, não é possível remover um scam. E enquanto existir humanos, alguns deles tentarão usar essas técnica para enganar você. Entretanto, se o scam envolver a instalação secreta de softwares maliciosos em seu computador, sua melhor opção é usar um programa de antivírus poderoso para escanear seu computador e remover qualquer aplicativo indesejado. </p>

            
             
            </div>
          </div>
          <!-- /separação do video -->
           <div class="card card-img my-4">
              <div class="card-header card-text acessibilidade">
              Video
            </div>

             <div id="carregando" class="center" align="center">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/_VeVR37n2_8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
             </div>
          <!-- /.card -->
          </div>

        </div>
        <!-- /.col-lg-9 -->

         <div class="col-lg-9">

         
         <div class="card-b my-4">
              

             <div id="carregando" class="center" align="center">
             
              <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = 'http://localhost.com<%= request.original_fullpath %>';  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://proteja-se.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


             </div>
             </div>
             </div>

      </div>

    </div>
    <!-- /.container -->


    <!-- Footer -->
    <footer class="py-5 bg-black bordercolor">
      <div class="container">
      <div class="addthis_inline_share_toolbox text-center"></div> 
      <p class="m-0 text-center text-white">Compartilhe</p>
      <p class="m-0 text-center text-white">Copyright &copy; Proteja.se 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="assets/jquery/jquery.min.js"></script>
    <script src="assets/javascripts/bootstrap.bundle.min.js"></script>

    <style>
    .dropdown:hover>.dropdown-menu{
      display: block;
    }
    </style>

     <script type="text/javascript">
      function fonte(e){
  var elemento = $(".acessibilidade");
  var fonte = elemento.css('font-size');
  if (e == 'a') {
    elemento.css("fontSize", parseInt(fonte) + 1);
  } else if('d'){
    elemento.css("fontSize", parseInt(fonte) - 1);
      }
    }
    </script>


<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5bf0667e9e40d64c"></script>
  </body>

</html>