<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PROTEJA-SE</title>
<link rel="shortcut icon" href="https://convertico.com/images/1543968732.8983/_previmg.png" type="image/x-icon"  sizes="192x192" />
    <!-- Bootstrap core CSS -->
    <link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/shop-item.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
     <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
      <div class="container">

        <a class="navbar-brand" href="#">
          <img src="http://i64.tinypic.com/in71uc.jpg" width="190" height="80" alt="">
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar navbar-default" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home/index">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item dropdown MenuController">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ataques</a>
              <div class=" megamenu dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="row">
              <div class="col-lg-4">
                  <a class="dropdown-item" href="/crimes/malware">Malware</a>
                  <a class="dropdown-item" href="/crimes/spyware">Spyware</a>
                  <a class="dropdown-item" href="/crimes/adware">Adware</a>
                  <a class="dropdown-item" href="/crimes/phishing">Phishing</a>
                  <a class="dropdown-item" href="/crimes/trojan">Trojan</a>
                  <a class="dropdown-item" href="/crimes/xss">XSS</a>
                  <a class="dropdown-item" href="/crimes/spam">Spam</a>
                  <a class="dropdown-item" href="/crimes/worm">Worm</a>
                  <a class="dropdown-item" href="/crimes/rootkit">Rootkit</a>
              </div>

              <div class="row">
              <div class="col-lg-4">
                  <a class="dropdown-item" href="/crimes/keylogger">Keylogger</a>
                  <a class="dropdown-item" href="/crimes/scam">Scam</a>
                  <a class="dropdown-item" href="/crimes/sniffer">Sniffer</a>
                  <a class="dropdown-item" href="/crimes/DDoS">DDoS</a>
                  <a class="dropdown-item" href="/crimes/botnet">Botnet</a>
                  <a class="dropdown-item" href="/crimes/backdoor">Backdoor</a>
                  <a class="dropdown-item" href="/crimes/ransomware">Ransomware</a>
                  <a class="dropdown-item" href="/crimes/sequestrador">Sequestrador de Navegadores</a>
              </div>
                  
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Crimes</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/crimes/virtuais">Crime Virtual</a>
                  <a class="dropdown-item" href="/crimes/bullying">Bullying Virtual</a>
                  <a class="dropdown-item" href="/crimes/engenharia">Engenharia Social</a>
                  <a class="dropdown-item" href="/crimes/roubo">Roubo de Identidade</a>
                  <a class="dropdown-item" href="/crimes/paginas">Páginas falsas</a>
                  <a class="dropdown-item" href="/crimes/pedofilia">Pedofilia na Internet</a>                  
                  <a class="dropdown-item" href="/crimes/assedio">Assédio Virtual</a>
                  <a class="dropdown-item" href="/crimes/fake">Fake News</a>
                  <a class="dropdown-item" href="/crimes/fotos">Vazamento de informações íntimas</a>


                  </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

   
        <!-- /.col-lg-3 -->

        <div class="col-lg-9 col-xs-6 col-md-4 col-sm-4 col-xs-9">
         <div class="container" >

          <div class="card mt-4 tamanho">
            <img class="card-img imagem" src="https://storage.googleapis.com/adm-portal.appspot.com/_assets/modules/noticias/noticia_124163.jpg" alt="">
            <div class="card-body">
              <h3 class="card-title">Worm</h3>
              <p class="botao">
                <input type="button" value="A+" onClick="fonte('a');"/>
                <input type="button" value="A-" onClick="fonte('d');"" />
              </p>
              <br/>
              
              <p class="card-text acessibilidade"> Um Worm é um programa semelhante aos vírus, com a diferença de este ser auto-replicante, ou seja, ele cria cópias funcionais de si mesmo e infecta outros computadores. Tal infecção pode ocorrer através de conexões de rede locais, Internet ou anexos de emails. Alguns worms infectaram centenas de computadores por meio das redes sociais Instagram e Facebook.  </p>
              <p class="card-text acessibilidade"> Diferente dos vírus comuns, os worms podem se autorreplicar sem a necessidade de infectar arquivos legítimos, criando cópias funcionais de si mesmos. Essas características permitem que os worms se espalhem por redes de computadores e drives USB. Alguns worms também se espalham por mensagens de e-mail, criando anexos maliciosos e os enviando para as listas de contato da conta invadida. </p>
              <p class="card-text acessibilidade"> Após garantir acesso ao sistema, alguns worms procuram patches e atualizações de segurança para fechar as brechas utilizadas pelo mesmo, evitando que outros malwares venham a infectar o sistema utilizando-se da mesma falha, garantindo a exclusividade do worm sobre o sistema. </p>
              
              
            </div>
          </div>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header card-text acessibilidade">
              Como evitar um Worm?
            </div>
            <div class="card-body">
              
              <b class="card-text acessibilidade"> Nunca clique em um link ou anexo de algum email sobre o qual você não esteja 100% seguro em relação à origem ou remetente do mesmo </b>
              <p class="card-text acessibilidade"> Se você considerar que o email é suspeito, provavelmente ele é. Não fará mal nenhum enviar um email para certificar-se da autenticidade do mesmo. </p>
             
              <hr>
              <b class="card-text acessibilidade"> Utilize pendrives ou demais dispositivos de armazenamento USB com cautela. </b>
              <p class="card-text acessibilidade"> Conectar o disco USB de outra pessoa em sua máquina, pode começar uma infestação através de seu disco USB, transferindo não apenas o arquivo que você deseja. Sempre que possível, faça a transferência de arquivos por email, descartando a possibilidade de hardwares contaminados nesta equação. </p>
            
             <hr>
             <b class="card-text acessibilidade"> Cuidado com pop-ups na internet </b>
             <p class="card-text acessibilidade"> Isto pode parecer óbvio, mas os que realmente são perigosos são aqueles que são desenvolvidos para aparentar estar partindo do seu próprio sistema operacional Windows. Se você ver um pop-up que aparente ser uma janela do Windows ou de seu Anti-Vírus (ou algum outro programa confiável) que lhe comunique sobre algum problema que precise urgentemente ser resolvido, pode ser um golpe. (Para ter certeza, apenas feche esta janela e abra o seu aplicativo anti-vírus e verifique se o aviso continua lá.) Outros podem lhe reportar um erro e oferecer a solução caso você adquira o software deles. </p>

             <hr>
             <b class="card-text acessibilidade"> Cuidado com emails incomuns de empresas com as quais você não possui alguma relação de negócio. </b>
             <p class="card-text acessibilidade"> Caso você receba um email de alguma destas empresas lhe solicitando informações, ou mesmo que você execute algum arquivo, logue no site desta empresa e verifique se existe alguma notificação neste sentido. Alguns crackers irão tentar conseguir a sua confiança copiando emails legítimos das empresas, utilizando um estilo similar em termos de aparência bem como email de resposta como forma de baixar sua guarda.  </p>

             <hr>
             <b class="card-text acessibilidade"> Instale um programa anti-vírus </b>
             <p class="card-text acessibilidade"> Versões pagas incluem Norton, McAfee, F-Secure e Sophos. Versões gratuitas incluem AVG, Avast, Comodo, BitDefender e o Avira Anti Vir. Certifique-se de manter as suas definições de vírus atualizadas e executar uma verificação completa semanalmente. </p>

             <hr>
             <b class="card-text acessibilidade"> Instale um programa anti-spyware </b>
             <p class="card-text acessibilidade"> Ad-Aware SE, Windows Defender, Malwarebytes e o Spybot Search and Destroy focam em malwares de internet e spywares que geralmente são ignorados pela maioria dos anti-vírus. Assim como os anti-vírus, mantenha-o atualizado e execute uma verificação completa semanalmente. </p>

             <hr>
             <b class="card-text acessibilidade"> Utilize um Firewall </b>
             <p class="card-text acessibilidade"> Mantenha o seu Firewall do Windows habilitado (cheque no Centro de Segurança do Windows nas configurações do mesmo) ou instale algum programa de firewalll confiável para lhe ajudar a bloquear tráfego de internet não desejado. </p>


             <hr>
             <b class="card-text acessibilidade"> Remoção do Worm </b>
             <p class="card-text acessibilidade"> Para remover um worm, simplesmente faça um scan em busca de malware usando um software antivírus. Uma vez os worms são detectados e deletados, seu computador deverá se tornar completamente seguro. </p>
            
             
            </div>
          </div>
          <!-- /separação do video -->
           <div class="card card-img my-4">
              <div class="card-header card-text acessibilidade">
              Video
            </div>

             <div id="carregando" class="center" align="center">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/K5vcz0Foq7M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
             </div>
          <!-- /.card -->
          </div>

        </div>
        <!-- /.col-lg-9 -->

         <div class="col-lg-9">

         
         <div class="card-b my-4">
              

             <div id="carregando" class="center" align="center">
             
              <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = 'http://localhost.com<%= request.original_fullpath %>';  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://proteja-se.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


             </div>
             </div>
             </div>

      </div>

    </div>
    <!-- /.container -->


    <!-- Footer -->
    <footer class="py-5 bg-black bordercolor">
      <div class="container">
      <div class="addthis_inline_share_toolbox text-center"></div> 
      <p class="m-0 text-center text-white">Compartilhe</p>
      <p class="m-0 text-center text-white">Copyright &copy; Proteja.se 2018</p>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="assets/jquery/jquery.min.js"></script>
    <script src="assets/javascripts/bootstrap.bundle.min.js"></script>

    <style>
    .dropdown:hover>.dropdown-menu{
      display: block;
    }
    </style>

     <script type="text/javascript">
      function fonte(e){
  var elemento = $(".acessibilidade");
  var fonte = elemento.css('font-size');
  if (e == 'a') {
    elemento.css("fontSize", parseInt(fonte) + 1);
  } else if('d'){
    elemento.css("fontSize", parseInt(fonte) - 1);
      }
    }
    </script>


    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5bf0667e9e40d64c"></script>
  </body>

</html>